{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <form class="container mx-auto card p-4">

        <div class="mb-3">
            <label for="title">Note Title</label>
            <input 
                type="text" 
                id="title" 
                class="form-control" 
                placeholder="Enter Note Title">
        </div>

        <div class="mb-3">
            <label for="desc">Note Description</label>
            <textarea 
                rows="5" 
                id="desc" 
                class="form-control" 
                placeholder="Enter Note Description"></textarea>
        </div>

        <div class="mb-3">
            <button 
                style="width: 100%;" 
                class="btn btn-primary">
                Add Note
            </button>
        </div>

    </form>

</div>

{% endblock %}


{% block title %}
{{block.super}}
{% endblock %}